[Unit]
Description=The valet data manager service
Documentation=https://github.com/wtsi-npg/valet
StartLimitBurst=3

[Service]
Environment=PATH=/home/{{ valet_user }}/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=INSTRUMENT_MODEL={{ valet_instrument }}
Environment=INTERVAL={{ valet_interval }}
Environment=MAX_PROC={{ valet_max_proc }}
Environment=LOG_FILE=/data/{{ valet_user }}/valet.log
ExecStart=/home/{{ valet_user }}/bin/valet_archive_create.sh
Restart=always
RestartSec=60
TimeoutStopSec=120
Type=simple
User={{ valet_user }}

[Install]
WantedBy= multi-user.target
